/*TIMELINE*/

.timeline {
  padding: 0 !important;
}
.timeline .timeline_header {
  padding-top: 7px;
}

/* ==== */
.timeline .timeline_firstItem {
  min-height: 85px !important;
}

/* .timeline .MuiTimeline-root {
  height: 0px !important;
} */

/* .timeline .timeline_list {
  min-height: 10px !important;
  background-color: green;
} */
/* ==== */

.timeline .MuiTimelineItem-missingOppositeContent:before {
  display: none;
}

.timeline .separator_padding {
  padding-left: 16px !important;
}

.timeline .timeline_dot_header {
  color: black !important;
  background-color: var(--main-color) !important;
  font-size: small !important;
  padding: 10px !important;
}

.timeline .timeline_dot {
  background-color: #fff !important;
  border-color: var(--main-color) !important;
  /* padding: 2px !important; */
}

.timeline .MuiTimelineConnector-root {
  background-color: #eee !important;
}

.timeline .timeline_dot_header > .MuiSvgIcon-root {
  font-size: 20px;
  color: darkslategray;
}
